@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020518;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020518;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src:
    url("./fonts/clashDisplay/ClashDisplay-Variable.woff2") format("woff2"),
    url("./fonts/clashDisplay/ClashDisplay-Variable.woff") format("woff"),
    url("./fonts/clashDisplay/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.clashFont {
  font-family: "ClashDisplay-Variable", sans-serif;
}

.custom-btn {
  font-size: 18px;
  position: relative;
  padding: 12px 18px;
  background: #fff;
  border-radius: 5px;
  color: #000;
  gap: 5px;
  z-index: 10;
}

.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: inherit;
  filter: blur(50px);
  z-index: -1; /* Placé sous le bouton pour ne pas gêner le texte */
}

.button-shadow {
  box-shadow: -4px 4px 0px #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 13px 15px;
  background: #fff;
  color: #000;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: "ClashDisplay-Variable", sans-serif;
  cursor: pointer;
  z-index: 10;
}

.item-embla {
  flex: 0 0 350px; /* Slide covers 200px of the viewport */
  min-width: 0;
}

.offres-content {
  background: url(../../public/bgOffres.png) no-repeat;
  background-size: cover;
  border-radius: 30px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.separator {
  width: 90%;
  height: 1px;
  background: #fff;
  display: flex;
}

@media screen and (max-width: 768px) {
  .offres-content {
    background: url(../../public/bgOffresMobile.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }

  .orderRevert {
    order: -1;
  }
}
